################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/LogicaTrabalhadorEContratos/obj/Debug/net8.0
/LogicaTrabalhadorEContratos/.vs/LogicaTrabalhadorEContratos
/LogicaTrabalhadorEContratos/LogicaTrabalhadorEContratos.sln
